{% extends 'shopping/basic.html' %}

{% block title %} Title of About {%endblock%}
{% block css %}  {%endblock%}
{% block body %} 
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">wE-Comm</h1>
        <p>wE-Comm is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
        <p><a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Flipkart" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Connect with us through Email</h2>
          
          <p><a  class="btn btn-secondary" role="button" bg-color=#00a1ff>ssangwan138@gmail.com &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Connect with us through Twitter</h2>
            
            <p><a  class="btn btn-secondary" role="button">mytwitter@account &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Connect with us through Instagram</h2>
            
            <p><a  class="btn btn-secondary" role="button" bg-color=#00a1ff>myaccount@instagram &raquo;</a></p>
          </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>





{%endblock%}

